<!-- src: _includes/footer.html -->
<!-- FOOTER -->
<footer>

  <!-- SCROLL TO TOP -->
  <a href="#toTop" class="fa fa-arrow-up toTop"></a>

  <div class="container">

    <div class="row">

        <div class="col-md-6 copyright">
            &copy;2014-2017 Josh Wickham. All Rights Reserved.
        </div>

        <div class="col-md-6 text-right">
            {% for social_link in site.data.social_links %}
              <a href="{{ social_link.url }}" class="social fa fa-{{ social_link.network|lower }}"></a>
            {% endfor %}
        </div>

    </div>

  </div>
</footer>

{% include ga.html %}
<!-- end src: _includes/footer.html -->