<!-- src: _includes/nav.html -->
<!-- Main Nav -->
{% capture index_url %}{% unless include.is_index %}{{ "index.html" | absolute_url }}{% endunless %}{% endcapture %}
<header id="header" {% unless include.is_index %} class="fixed"{% endunless %}>

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button id="mobileMenu" class="fa fa-bars" type="button" data-toggle="collapse" data-target=".navbar-collapse"></button>

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand{% if include.is_index %} scrollTo{% endif %}" href="{{ index_url }}#home">
                    <img src="{{ site.baseurl }}/images/home_profile_img_1.png" alt="" width="50" height="50" />
                    <span class="hidden-xs">{{ site.title|e }}</span>
                </a>
            </div><!-- end div.navbar-header -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <!-- Fullscreen Button - Unavailable for IE -->
                <a href="#" class="btn-fullscreen"><i class="fa fa-external-link"></i></a>

                <ul class="nav navbar-nav navbar-right">
                    {% capture link_class %}{% if include.is_index %} class="scrollTo"{% endif %}{% endcapture %}
                    <li>
                        <a href="{{ index_url }}#home" {{ link_class }}>Home</a>
                    </li>
                    {% if site.about %}
                        <li>
                            <a href="{{ index_url }}#about" {{ link_class }}>About</a>
                        </li>
                    {% endif %}
                    {% if site.work %}
                        <li>
                            <a href="{{ index_url }}#work" {{ link_class }}>Work</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% if include.is_index %}{{ index_url }}#quick-blog{% else %}{{ 'blog' | absolute_url }}{% endif %}" {{ link_class }}>Blog</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% capture category_string %}{% include category_string.html categories=site.categories %}{% endcapture %}
                            {% assign categories=category_string | split: "," | sort_natural %}
                            {% for category in categories %}
                                {% if category %}
                                <li>
                                    <a href="{% include category_link.html category=category %}">{{ category | capitalize }}
                                        <span>({{ site.categories[category].size }} posts)</span>
                                    </a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div><!-- end div#bs-example-navbar-collapse-1 -->
            <!-- /.navbar-collapse -->

        </div><!-- end div.container -->
    </nav>
</header>
<!-- /Main Nav -->
<!-- end src: _includes/nav.html -->