<!-- post_list.html -->
<!doctype html>
<html lang="en-US">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
        {% include meta.html %}
        {% include stylesheets.html %}
        {% include javascripts.html %}
    </head>

    <body>
        {% include nav.html %}

        {% capture list_content %}
        <div class="item">
            <div class="item-title">
                <h2>{{ include.listing_title }}</h2>
            </div>
            <p>
                {{ include.listing_description }}
            </p>
            {% if include.category %}
                {% assign posts=site.categories[include.category] %}
            {% elsif include.tag %}
                {% assign posts=site.tags[include.tag] %}
            {% else %}
                {% assign posts=site.posts %}
            {% endif %}
            <div class="masonry">
            {% for post in posts %}
                <div class="masonry-brick">
                    <div class="header">
                        <a href="{{ post.url | absolute_url }}">{{ post.title }}</a><br />
                        <span class="label label-default light">{{ post.date | date: "%Y-%m-%d" }}</span>
                    </div>
                    <div class="content">
                        {% if post.excerpt == post.content %}{{ post.content | truncatewords: 100 }}{% else %}{{ post.excerpt }}{% endif %}<br />
                        <a href="{{ post.url | absolute_url }}" class="btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {% endcapture %}

        {% include blog_section_wrapper.html content=list_content %}

        {% include footer.html %}
    </body>
</html>