<!-- src: _includes/share_post.html -->
<!-- SOCIAL -->
{% if site.show_social_sharing and page.share %}
<p class="socials">
    <a href="http://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" class="rounded-icon social fa fa-facebook" target="_blank" title="Share on Facebook"><!-- facebook --></a>
    <a href="http://twitter.com/home?status={{ page.url | absolute_url }}" class="rounded-icon social fa fa-twitter" target="_blank" title="Share on Twitter"><!-- twitter --></a>
    <a href="https://plus.google.com/share?url={{ page.url | absolute_url }}" class="rounded-icon social fa fa-google-plus" target="_blank" title="Share on Google+"><!-- google plus --></a>
    <a href="http://pinterest.com/pin/create/link/?url={{ page.url | absolute_url }}" class="rounded-icon social fa fa-pinterest"  target="_blank" title="Share on Pinterest"><!-- pinterest --></a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{page.title}}&summary=&source=" class="rounded-icon social fa fa-linkedin" target="_blank" title="Share on Linkedin"><!-- linkedin --></a>
</p>
{% endif %}
<!-- end src: _includes/share_post.html -->