<!-- src: _includes/stylesheets.html -->
<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Dosis:300,400" rel="stylesheet" type="text/css" />

<!-- CORE CSS FRAMEWORK -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/linecons.css" rel="stylesheet" type="text/css" />

<!-- PLUGINS -->
<link href="{{ site.baseurl }}/assets/css/superslides.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/assets/css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/assets/css/magnific-popup.css" rel="stylesheet" type="text/css" />

<!-- CSS TEMPLATE -->
<link href="{{ site.baseurl }}/assets/css/reset.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/assets/css/framework.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/assets/css/typography.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl }}/assets/css/layout.css" rel="stylesheet" type="text/css" />

<link href="{{ site.baseurl }}/assets/css/brown.css" rel="stylesheet" type="text/css" />

<!-- ICONS -->
{% if site.favicon %}
    <link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon" />
{% endif %}

{% if site.icon %}
    <link rel="icon" href="{{ site.icon }}" type="image/x-icon" />
{% endif %}

{% if site.shortcut_icon %}
    <link rel="shortcut icon" href="{{ site.shortcut_icon }}" type="image/x-icon" />
{% endif %}
<!-- end src: _includes/header.html -->