---
layout: post
---

<!-- ARTICLE -->
<article class="content">
    {{ page.content }}
</article>

<div class="divider"><!-- lines divider --></div>

{% assign pano_data = site.data.panorama[page.panogroup] %}
<!-- 
<p>
{{ page.panogroup }}
</p>
-->
{% for pano in pano_data %}
    <div id="pano-{{ pano.id }}" class="pano-viewer" style="width: 100%; height: 500px;"></div>
{% endfor %}

<script src="https://openseadragon.github.io/openseadragon/openseadragon.min.js"></script>
<script>
    const panoData = {{ pano_data | jsonify }};
    const panoGroup = "{{ page.panogroup }}";

    document.addEventListener("DOMContentLoaded", function() {
        panoData.forEach(pano => {
            OpenSeadragon({
                id: `pano-${pano.id}`,
                prefixUrl: "https://openseadragon.github.io/openseadragon/images/",
                tileSources: {
                    height: pano.height,
                    width: pano.width,
                    tileSize: 256,
                    minZoomLevel: 0,
                    maxZoomLevel: pano.maxZoomLevel,
                    getTileUrl: function(level, x, y) {
                        var realLevel = level - 8;
                        return `/assets/img/panorama/${panoGroup}/${pano.id}/${realLevel}-${x}-${y}.jpg`;
                    }
                }
            })
        })
    });
</script>